header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
}
.logo{
    height: 70px;
    width: 100%;
    background-image: url('../images/logo.png');
    margin-left: 20px;
    background-repeat: no-repeat;
}